header {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 115px;
	z-index: 10;
	background-color: rgb(19, 23, 65);
	background-position: center top;
	background-size: auto 200px;
	background-repeat: repeat-x;

	.inner {
		max-width: 1060px;
		margin: 0 auto;
		display: flex;
		height: 115px;
		align-items: center;
		justify-content: center;
		position: relative;
	}

	.logo {
		display: block;
		width: 190px;
		height: 115px;
		position: absolute;
		top: 0;
		left: 0;
		background-color: rgb(0, 0, 0);
		text-align: center;

		img {
			width: 160px;
            height: 115px;
		}
	}

	nav {
		display: none;

		a {
			font-family: 'Arial', serif;
			font-size: 12px;
			color: #8c8c8e;
			text-transform: uppercase;
			letter-spacing: 3px;
			text-decoration: none;
			margin: 0 18px;

			&.active, &:hover {
				color: white;
			}
		}

		@media screen and (min-width: 800px) {
			display: block;
		}
	}

	.burger {
		display: block;
		position: relative;
		top: -6px;
		padding-left: 30px;

		&:before {
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			width: 30px;
			height: 2px;
			background: white;
			box-shadow: 0 12px 0 0 white, 0 6px 0 0 white;
		}

		@media screen and (min-width: 800px) {
			display: none;
		}
	}

	.donate-link {
		width: 72px;
		text-align: center;
		position: absolute;
		right: 10px;
		top: 27px;
		font-family: 'Arial', sans-serif;
		font-size: 12px;
		color: white;
		text-transform: uppercase;
		letter-spacing: 3px;
		text-decoration: none;
		padding-bottom: 6px;
		border-bottom: 2px solid rgba(255, 255, 255, 0.3);
	}
}

body{
    background-color: rgb(29, 31, 39);
}


@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&display=swap');
:root{
    --bgColor: #333;
    --textPrimary: #fff;
    --textSecondary: #666;
    --primaryColor: #fd4;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color:var(--bgColor);
    color: var(--textPrimary);
    font-size: 1.4rem;
}

.type{
    position: relative;
    top: 100px;
    
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    display: flex;
    padding: 0 10px;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #0b1b38;
}
#paragraph{
    color: #646669;
}
.result-details{
    color: white;
}
::selection {
    color: #fff;
    background: #007acc;
}
.wrapper {
    width: 700px;
    padding: 35px;
    background: #1e1e1e;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(0,0,0,0.05);
}
.wrapper .input-field {
    opacity: 0;
    z-index: -999;
    position: absolute;
}
.wrapper .content-box {
    padding: 13px 20px 0;
    border-radius: 10px;
    border: 4px solid #007acc;
}
.content-box .typing-text {
    overflow: hidden;
    max-height: 256px;
}
.typing-text::-webkit-scrollbar {
    width: 0;
}
.typing-text p {
    font-size: 21px;
    text-align: justify;
    letter-spacing: 1px;
    word-break: break-all;
}
.typing-text p span {
    position: relative;
}
.typing-text p span.correct {
    color: #d1d0c5;
}
.typing-text p span.incorrect {
    color: #ca4754;
    border-radius: 4px;
}
/* .typing-text p span.active {
    color: #17A2B8;
} */
.typing-text p span.active::before {
    position: absolute;
    content: "";
    height: 2px;
    width: 100%;
    bottom: 0;
    left: 0;
    opacity: 0;
    border-radius: 5px;
    background: #007acc;
    animation: blink 1s ease-in-out infinite;
}
@keyframes blink {
    50% {
        opacity: 1;
    }
}
.content-box .content {
    margin-top: 17px;
    display: flex;
    padding: 12px 0;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-top: 3px solid #007acc;
}
.content button {
    outline: none;
    border: none;
    width: 106px;
    color: #007acc;
    padding: 8px 0;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 15px;
    border: 3px solid #007acc;
    background: none;
    transition: transform 0.2s ease;
}
.content button:active {
    transform: scale(0.89);
}
.content button:hover {
    background: #FFFFFF;
}
.content .result-details {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: calc(100% - 140px);
    justify-content: space-between;
}
.result-details li {
    display: flex;
    height: 20px;
    list-style: none;
    position: relative;
    align-items: center;
}
.result-details li:not(:first-child) {
    padding-left: 22px;
    border-left: 2px solid #bfbfbf;
}
.result-details li p {
    font-size: 13px;
}
.result-details li span {
    display: block;
    font-size: 13px;
    margin-left: 10px;
}
li span b {
    font-weight: 500;
}
li:not(:first-child) span {
    font-weight: 500;
}
@media (max-width: 745px) {
    .wrapper {
        padding: 20px;
    }
    .content-box .content {
        padding: 20px 0;
    }
    .content-box .typing-text {
        max-height: 100%;
    }
    .typing-text p {
        font-size: 19px;
        text-align: left;
    }
    .content button {
        width: 100%;
        font-size: 15px;
        padding: 10px 0;
        margin-top: 20px;
    }
    .content .result-details {
        width: 100%;
    }
    .result-details li:not(:first-child) {
        border-left: 0;
        padding: 0;
    }
    .result-details li p,
    .result-details li span {
        font-size: 15px;
    }
}
@media (max-width: 518px) {
    .wrapper .content-box {
        padding: 10px 15px 0;
    }
    .typing-text p {
        font-size: 13px;
    }
    .result-details li {
        margin-bottom: 10px;
    }
    .content button {
        margin-top: 10px;
    }
}







.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }


  .biography{
    margin: 0 auto;
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }


  .paragraph{
    max-width: 1000px;
    margin: 0 auto;
    display: flex
;
    height: 115px;
    align-items: center;
    justify-content: center;
    position: relative;
  }